#========================================#
# Large amounts of code / logs
third_party/android_ndk
third_party/android_platform
third_party/catapult
third_party/llvm-build
#========================================#

#========================================#
# IDE specific files
/.vscode
/.idea
/.vs
#========================================#

#========================================#
# Private data
/private
*.pem
*.rnd
#========================================#

#========================================#
# Build output
/target
#========================================#

#========================================#
# Misc
*.lock
**/*.rs.bk
**/*.orig
#========================================#
